// variables base (usa los tuyos)
$color-primary: #5D3A00;
$color-secondary: #C09F80;
$color-bg: #F6F3EF;
$color-text: #1F1F1F;
$color-accent: #A76E3C;
$color-blanco: #ffffff;
$color-negro: #000000;
$color-dorado: #ad8a1f;
$color-gris-claro: #f7f7f7;
$color-gris-apagado: #ddd;
$color-beige-dorado-oscuro: #222;
$color-azul-oscuro: #444;
$color-error: #e74c3c;
$color-gris-oscuro: #111;
$color-gris-oscuro_2: #222;
$color-gris-oscuro_3: #333;
$color-sombra-gris: #bbb;
$color-sombra-gris_2: #aaa;